language: python
install: skip

jobs:
  include:
     - dist: focal
       script: 
        - echo "Threads/core $(nproc --all)"
        - free -g
     - dist: focal
       vm:
         size: medium
       script: 
        - echo "Threads/core $(nproc --all)"
        - free -g
     - dist: focal
       vm:
         size: large
       script: 
        - echo "Threads/core $(nproc --all)"
        - free -g
     - dist: focal
       vm:
         size: x-large
       script: 
        - echo "Threads/core $(nproc --all)"
        - free -g
    - dist: focal
       vm:
         size: 2x-large	
       script: 
        - echo "Threads/core $(nproc --all)"
        - free -g


